@use 'variables' as vars
@use 'breakpoint' as bp
@use 'slider'
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto
    background-color: vars.$light_pink
    color: vars.$dark_purple
    font-style: normal
    position: relative

.fw400
    font-weight: 400
    
.fw600
    font-weight: 600

.fw700
    font-weight: 700

.header
    min-block-size: 14.5rem
    background-image: url('../assets/images/background-pattern-mobile.svg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.main
    position: relative

.wrap
    padding: 0 vars.$spacing_3 8.9rem vars.$spacing_3
    position: relative
    margin-top: -5.6rem

.faq_card
    background: vars.$white
    padding: vars.$spacing_3
    border-radius: vars.$spacing_1
    display: flex
    flex-direction: column
    gap: vars.$spacing_3
    position: relative
    max-inline-size: 37.5rem
    margin: 0 auto

.faq_header
    display: flex
    align-items: center
    gap: vars.$spacing_3

.faq_header_img_cont
    block-size: 1.3rem
    inline-size: 1.3rem

.faq_header_img
    display: block
    block-size: 100%
    inline-size: 100%

.faq_header_h1
    font-size: clamp(vars.$spacing_4, 5vw + 1rem, 3.5rem)
    line-height: 1.19
    color: vars.$dark_purple

.faq_ul
    list-style: none
    padding: 0
    margin: 0

.faq_li
    display: flex
    flex-direction: column
    gap: vars.$spacing_3

.faq_li:not(:last-child)
    border-bottom: 1px solid vars.$light_pink

.faq_li:nth-child(2), .faq_li:nth-child(3)
    padding: 1.5rem 0

.faq_li:nth-child(1)
    padding-bottom: 1.5rem

.faq_li:nth-child(4)
    padding-top: 1.5rem

.faq_li h2
    text-wrap: initial

.accordion_btn
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    font-size: clamp(vars.$spacing_2, 0.26vw + 15.2px, 1.125rem)
    line-height: 1.19
    color: vars.$dark_purple
    gap: vars.$spacing_3
    text-align: left
    background: transparent
    border: none
    width: 100%
    transition: color 0.3s ease-in-out

.accordion_btn:hover
    color: vars.$pink

.faq_button_img
    display: none

.faq_button_img.active
    display: block

.faq_answer
    font-size: clamp(14px, 0.26vw + 13.2px, 16px)
    line-height: 1.5
    color: vars.$pale_purple

.attribution_h2
    text-align: center
    padding: 0.5rem vars.$spacing_3
    font-size: clamp(0.875rem, 2vw, 0.94rem)
    text-wrap: initial

.attribution a
    color: vars.$pink

@include bp.breakpoint(48rem)
    .header
        min-block-size: 20rem
        background-image: url('../assets/images/background-pattern-desktop.svg')   

    .wrap
        padding: 0 vars.$spacing_3 10.5rem vars.$spacing_3
        position: relative
        margin-top: -9.5rem    

    .faq_card
        padding: vars.$spacing_5
        border-radius: vars.$spacing_2
        gap: vars.$spacing_4
        max-inline-size: 37.5rem
        margin: 0 auto

    .faq_header_img_cont
        block-size: 2.2rem
        inline-size: 2.2rem

    .faq_li:nth-child(2), .faq_li:nth-child(3)
        padding: vars.$spacing_3 0

    .faq_li:nth-child(1)
        padding-bottom: vars.$spacing_3

    .faq_li:nth-child(4)
        padding-top: vars.$spacing_3

    